<!--<footer id="footer" class="sixteen columns" data-hook>-->
  <!--<div id="footer-left" class="columns alpha eight" data-hook>-->
    <!--<p><%= Spree.t :powered_by  %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>-->
  <!--</div>-->
  <!--<div id="footer-right" class="columns omega eight" data-hook></div>-->
<!--</footer>-->

<footer id="footer" class="ui vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable divided grid">
      <div class="three wide column">
        <h4 class="ui header">The brand</h4>
        <div class="ui link list">
          <a href="#" class="item">Shops</a>
          <a href="#" class="item">Conception</a>
          <a href="#" class="item">Collection</a>
          <a href="#" class="item">Team</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Around the brand</h4>
        <div class="ui link list">
          <a href="#" class="item">News and Events</a>
          <a href="#" class="item">Our Story</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">About</h4>
        <div class="ui link list">
          <a href="#" class="item">Contact us</a>
          <a href="#" class="item">Webdesign</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui header">Social networks</h4>
        <p>Find us and give us a feedback! We are almost everywhere!</p>
        <div class="ui buttons">
        <a class="ui facebook button icon">
          <i class="facebook icon"></i>
        </a>
        <a class="ui twitter button icon">
          <i class="twitter icon"></i>
        </a>
        <a class="ui google plus button icon">
          <i class="google plus icon"></i>
        </a>
        <a class="ui linkedin button icon">
          <i class="linkedin icon"></i>
        </a>
        <a class="ui instagram button icon">
          <i class="instagram icon"></i>
        </a>
        <a class="ui youtube button icon">
          <i class="youtube icon"></i>
        </a>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
  <!--  <%= image_tag 'lili_logo.jpg', :class => 'ui centered mini image' %> -->
    <div class="ui horizontal small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</footer>