@import "slick";
@import "slick-theme";
@import "semantic-ui";

$milk_white: whitesmoke;
$white_green: #effff3;

body {
  //background-color: $white_green !important;
  background-image: url('/assets/background2.png') !important;
  background-size: cover !important;
}

.carrouselImage{
  margin-right: 15px;
  //border: solid 1px grey;
}

.mainContainer{
  margin-top: 5% !important;

  min-height: 500px;
  background-color: $milk_white;
}

#footer {
  background-color: $milk_white;
  padding-top: 8%;
}

.pagination{
  margin-top: 25px !important;
}
.pagination > .first{
  padding: 10px !important;
}
.pagination > .prev{
  padding: 10px !important;
}
.pagination > .next{
  padding: 10px !important;
}
.pagination > .page{
  padding: 10px !important;
}