@import "slick";
@import "slick-theme";
@import "semantic-ui";

$milk_white: whitesmoke;
$transparent_milk_white: rgba(245,245,245,0.8);
$white_green: #effff3;
$light_grey: #BBADAD;

body {
  //background-color: $white_green !important;
  background-image: url('/assets/background2.png') !important;
  background-size: cover !important;
}

.carrouselImage{
  margin-right: 15px;
  //border: solid 1px grey;
}

.mainContainer{
  margin-top: 5% !important;
  padding-bottom: 1% !important;
  min-height: 500px;
  background-color: $milk_white;
}

#footer {
  background-color: $transparent_milk_white;
  padding-top: 5%;
}

.pagination{
  margin-top: 25px !important;
}
.pagination > .first{
  padding: 10px !important;
}
.pagination > .prev{
  padding: 10px !important;
}
.pagination > .next{
  padding: 10px !important;
}
.pagination > .page{
  padding: 10px !important;
}

#main-image{
  height: 450px;
}

.selected{
  background-color: grey;
}

.normalBorder{
  border: 1px solid $light_grey;
}